    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="{{ site.url }}{{ site.baseurl }}">View on GitHub</a>

          <h1 id="project_title">{{ site.project }}</h1>
          <h3 id="project_tagline">Arrow <font class="dragon_font">Dragon</font>Pulse</h3>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/ArrowElectronics/{{ site.project }}/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/ArrowElectronics/{{ site.project }}/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
